.charTypeTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 10px);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 9px;
    border-bottom: 1px solid #e4e4e4;

    &.notShowTitle {
        padding: 0;
        border: none;
    }

    .itemText {
        width: calc(100% - 30px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
    }
}